.movie-tag {
  color: green;
  padding: 6px 16px;
  border-radius: 4px;
  background: #fefefe;
  transition: background 0.3s ease;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.4em;
}
